Local preference non-unique

When `maxInRow` is greater than 1 (as it is in `main()`, where it is set to 4), integer division floors, resulting in identical priorities for multiple candidates for the same data stream:
https://github.com/palerikm/ICE-DualStackFairness/blob/45083fbcce1a42733287405325b23c748740267b/src/priority.c#L44-L48

However, from [RFC 8554 §5.1.2.1](https://tools.ietf.org/html/rfc8445#section-5.1.2.1):
> If there are multiple candidates for a particular component for a particular data stream that have the same type, the local preference MUST be unique for each one.